<div class="row justify-content-center">
  <div class="col-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Total</th>
          <th scope="col">Taken</th>
          <th scope="col">Remaining</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <td>Annual</td>
          <td>21</td>
          <td>2</td>
          <td>19</td>
        </tr>
        <tr>
          <td>Sick</td>
          <td>14</td>
          <td>1</td>
          <td>13</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
